<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumLessons Test Suite" verbose="2" parallel="tests" thread-count="1">
    <test name="Selenium Tests">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
</suite>
